HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
bin/src/main/java/com/example/foodapp/controllers/CuisineController.class
bin/src/main/java/com/example/foodapp/controllers/DishController.class
bin/src/main/java/com/example/foodapp/controllers/MoodController.class
bin/src/main/java/com/example/foodapp/controllers/UserController.class
bin/src/main/java/com/example/foodapp/FoodRecommendAppApplication.class
bin/src/main/java/com/example/foodapp/model/Cuisine.class
bin/src/main/java/com/example/foodapp/model/Dish.class
bin/src/main/java/com/example/foodapp/model/Mood.class
bin/src/main/java/com/example/foodapp/model/User.class
bin/src/main/java/com/example/foodapp/model/UserPreferences.class
bin/src/main/java/com/example/foodapp/repositories/CuisineRepository.class
bin/src/main/java/com/example/foodapp/repositories/DishRepository.class
bin/src/main/java/com/example/foodapp/repositories/MoodRepository.class
bin/src/main/java/com/example/foodapp/repositories/UserRepository.class
bin/src/test/java/com/example/foodapp/FoodRecommendAppApplicationTests.class
